/target/
/build/

/yaml*/
/yaml*
/json*/
/json*
/server*/
/server*

**/*.ser
**/*.info
**/_*/
**/_*
**/*.jar
**/*.log
**/build

**/*model*.*

/dependency-reduced-pom.xml

!_confirm.sh
!_upload-github_release.sh